body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", Meiryo, sans-serif !important;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  color: #333333;
  background-color: #fcfcfc;
}

#copy-message {
  display: none;
}

#copy-message.show {
  display: block;
}

.form-label,
.item-label {
  font-size: 0.75em;
}
.note-title {
  font-size: 2em;
}

.note-command,
.note-description,
.note-reference {
  font-size: 1em;
}

.note-created-at,
.note-updated-at {
  font-size: 0.75em;
}

