#copy-message {
  display: none;
}

#copy-message.show {
  display: block;
}

.form-label,
.item-label {
  font-size: 0.75em;
}

.note-title {
  font-size: 2em;
}

.note-command,
.note-description,
.note-reference {
  font-size: 1em;
}

.note-created-at,
.note-updated-at {
  font-size: 0.75em;
}