<ul class="sidebar-menu">
  <li class="sidebar-item">
    <a href="{% url 'notebook:dashboard' %}">
      <span class="sidebar-label p-2">DashBoard</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="{% url 'notebook:index' %}">
      <span class="sidebar-label p-2">CommandNote</span>
    </a>
  </li>
  <li class="sidebar-item">
    <span class="sidebar-label p-2">上のプルダウンで一覧や履歴画面を出す</span>
  </li>
  <li class="sidebar-item">
    <span class="sidebar-label p-2">エラーNOTE</span>
  </li>
  <li class="sidebar-item">
    <span class="sidebar-label p-2">比較NOTE</span>
  </li>
</ul>