{% extends 'notebook/base.html' %}
{% block content %}
  <h3>DashBoard</h3> 
  <div class="container">
    <div class="row">
      <div class="'col-12">

        <div class="row">
          <div class="'col-12 col-md-4">
            <ul class="sidebar-menu">
              <li class="sidebar-item">
                <a href="{% url 'dashboard' %}">
                  <span class="sidebar-label p-2">DashBoard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'index' %}">
                  <span class="sidebar-label p-2">CommandNote</span>
                </a>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">上のプルダウンで一覧や履歴画面を出す</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">エラーNOTE</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">比較NOTE</span>
              </li>
            </ul>
          </div>

          <div class="'col-12 col-md-8">
            <h4>NOTE新規作成</h4>
            <div class="card bg-body-tertiary bg-opacity-50 p-3 mb-3">
              <form method="POST" action="/create/">
                {% csrf_token %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-sm btn-success">新規作成</button>
                </div>
                <div class="d-flex gap-3 mb-3">
                  <div class="w-100">
                    <label class="form-label">メインカテゴリ</label>
                    <select name="main_category" id="main-category-select" class="form-select w-100">
                      <option value="blank">カテゴリを選択</option>
                      {% for main_category in main_categories %}
                        <option value="{{ main_category.id }}">{{ main_category.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="w-100">
                    <label class="form-label">サブカテゴリ</label>
                    <select name="sub_category" id="sub-category-select" class="form-select w-100 disabled">
                      <option value="blank">カテゴリを選択</option>
                      {% for sub_category in sub_categories %}
                        <option value="{{ sub_category.id }}">{{ sub_category.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label m-0">タイトル</label>
                  <input type="text" name="title" placeholder="タイトルを入力" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label m-0">コマンド</label>
                  <textarea name="command" placeholder="コマンドを入力" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                  <label class="form-label m-0">説明</label>
                  <textarea name="description" placeholder="コマンドの説明を入力" class="form-control"></textarea>
                </div>
              </form>
              <p class="item-label m-0">参考ファイル</p>
              <div class="card p-3 mb-3">
                <div class="mb-3">参考コードを表示する</div>
              </div>
            </div>
            <h4>NOTE作成履歴</h4>
            <div class="card p-3 mb-3">
              <table class="table table-hover">
                <thead>
                  <tr class="align-middle">
                    <th class="pb-3">サブカテゴリ</th>
                    <th class="pb-3">タイトル</th>
                    <th class="pb-3">日付</th>
                    <th class="pb-3"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for note in notes %} 
                    <tr class="align-middle position-relative">
                      <td class="pt-3 pb-3">{{ note.sub_category }}</td>
                      <td class="pt-3 pb-3">{{ note.title }}</td>
                      <td class="pt-3 pb-3">{{ note.created_at|date:"Y/m/d" }}</td>
                      <td class="text-end pt-3 pb-3">
                        <a href="{% url 'show' id=note.id %}" class="stretched-link">
                          <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}