{% extends 'notebook/base.html' %}
{% block content %}
  <h3>Edit</h3> 
  <div class="container">
    <div class="row">
      <div class="'col-12">

        <div class="row">
          <div class="'col-12 col-md-4">
            <ul class="sidebar-menu">
              <li class="sidebar-item">
                <a href="{% url 'dashboard' %}">
                  <span class="sidebar-label p-2">DashBoard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'index' %}">
                  <span class="sidebar-label p-2">CommandNote</span>
                </a>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">上のプルダウンで一覧や履歴画面を出す</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">エラーNOTE</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">比較NOTE</span>
              </li>
            </ul>
          </div>

          <div class="'col-12 col-md-8">
            <h4>NOTE編集</h4>
            <div class="card bg-body-tertiary bg-opacity-50 p-3 mb-3">
              <form method="POST" action="{% url 'update' id=note.id %}">
                {% csrf_token %}
                <div class="d-flex gap-3 justify-content-end">
                  <button type="submit" class="btn btn-sm btn-success">更新</button>
                  <a href="{% url 'destroy' id=note.id %}" class="btn btn-sm btn-danger">削除</a>
                </div>  
                <div class="d-flex gap-3 mb-3">
                  <div class="w-100">
                    <label class="form-label m-0">大カテゴリ</label>
                    <select name="main_category" class="form-select w-100">
                      {% for main_category in main_categories %}
                        <option value="{{ main_category.id }}" {% if main_category.id == note.sub_category.main_category.id %}selected{% endif %}>
                          {{ main_category.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="w-100">
                    <label class="form-label m-0">小カテゴリ</label>
                    <select name="sub_category" class="form-select w-100">
                      {% for sub_category in sub_categories %}
                        <option value="{{ sub_category.id }}" {% if sub_category.id == note.sub_category.id %}selected{% endif %}>
                          {{ sub_category.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label m-0">タイトル</label>
                  <input type="text" name="title" value="{{ note.title }}" placeholder="タイトルを入力" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label m-0">コマンド</label>
                  <textarea name="command" placeholder="コマンドを入力" class="form-control">{{ note.command }}</textarea>
                </div>
                <div class="mb-3">
                  <label class="form-label m-0">説明</label>
                  <textarea name="description" placeholder="コマンドの説明を入力" class="form-control">{{ note.description }}</textarea>
                </div>
              </form>
              <p class="item-label m-0">参考ファイル</p>
              <div class="card p-3 mb-3">
                <div class="mb-3">参考コードを表示する</div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}