{% extends 'notebook/base.html' %}
{% block content %}
  <h3>DashBoard</h3> 
  <div class="container">
    <div class="row">
      <div class="'col-12">

        <div class="row">
          <div class="'col-12 col-md-4">
            <ul class="sidebar-menu">
              <li class="sidebar-item">
                <a href="{% url 'dashboard' %}">
                  <span class="sidebar-label p-2">DashBoard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'index' %}">
                  <span class="sidebar-label p-2">CommandNote</span>
                </a>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">上のプルダウンで一覧や履歴画面を出す</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">エラーNOTE</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">比較NOTE</span>
              </li>
            </ul>
          </div>

          <div class="'col-12 col-md-8">
            <h4>コマンド一覧</h4>
            <div class="card p-3 mb-3">
              <table class="table table-hover">
                <thead>
                  <tr class="align-middle">
                    <th class="pb-3">サブカテゴリ</th>
                    <th class="pb-3">タイトル</th>
                    <th class="pb-3">日付</th>
                    <th class="pb-3"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for note in notes %} 
                    <tr class="align-middle position-relative">
                      <td class="pt-3 pb-3">{{ note.sub_category }}</td>
                      <td class="pt-3 pb-3">{{ note.title }}</td>
                      <td class="pt-3 pb-3">{{ note.created_at|date:"Y/m/d" }}</td>
                      <td class="text-end pt-3 pb-3">
                        <a href="{% url 'show' id=note.id %}" class="stretched-link">
                          <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}