{% extends 'notebook/base.html' %}
{% block content %}
  <form method="POST" action="/create/">
    {% csrf_token %}
    <select name="category">
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <select name="sub_category">
      {% for sub_category in sub_categories %}
        <option value="{{ sub_category.id }}">{{ sub_category.name }}</option>
      {% endfor %}
    </select>
    <input type="text" name="title" placeholder="タイトルを入力">
    <textarea name="command" placeholder="コマンドを入力"></textarea>
    <textarea name="description" placeholder="コマンドの説明を入力"></textarea>
    <button type="submit">保存</button>
  </form>
{% endblock %}