{% extends 'notebook/base.html' %}
{% block content %}
  <h3>Check</h3> 
  <div class="container">
    <div class="row">
      <div class="'col-12">

        <div class="row">
          <div class="'col-12 col-md-4">
            <ul class="sidebar-menu">
              <li class="sidebar-item">
                <a href="{% url 'notebook:dashboard' %}">
                  <span class="sidebar-label p-2">DashBoard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'notebook:index' %}">
                  <span class="sidebar-label p-2">CommandNote</span>
                </a>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">上のプルダウンで一覧や履歴画面を出す</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">エラーNOTE</span>
              </li>
              <li class="sidebar-item">
                <span class="sidebar-label p-2">比較NOTE</span>
              </li>
            </ul>
          </div>

          <div class="'col-12 col-md-8">
            <div class="d-flex justify-content-between align-items-center">
              <h4>コマンド確認</h4>
              <a href="{% url 'notebook:index' %}" class="btn btn-sm btn-secondary">コマンド一覧</a>
            </div>
            <div class="card bg-body-tertiary bg-opacity-50 p-3 mb-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="note-sub-category badge bg-primary fs-5">{{note.sub_category}}</div>
                <div class="d-flex gap-3">
                  <a href="{% url 'notebook:edit' id=note.id %}" class="btn btn-sm btn-success">編集</a>
                  <a href="{% url 'notebook:destroy' id=note.id %}" class="btn btn-sm btn-danger">削除</a>
                </div>
              </div>
              
              <div class="note-title mt-4 mb-4">{{note.title}}</div>
              <p id="copy-message" class="alert alert-success">クリップボードにコピーしました！</p>
              <p class="item-label m-0">コマンド</p>
              <div class="card p-3 mb-3" id="command-area">
                <div class="note-command" >{{note.command_set.first.code|linebreaksbr}}</div>
              </div>
              <p class="item-label m-0">説明</p>
              <div class="card p-3 mb-3">
                <div class="note-description">{{note.description|linebreaksbr}}</div>
              </div>
              <p class="item-label m-0">参考ファイル</p>
              <div class="card p-3 mb-3">
                <div class="note-reference" >{{note.reference|linebreaksbr|urlize}}</div>
              </div>
              <div class="note-created-at text-end">作成日:{{note.created_at|date:"Y/m/d"}}</div>
              <div class="note-updated-at text-end">更新日:{{note.updated_at|date:"Y/m/d"}}</div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}