<ul class="sidebar-menu">
  <li class="sidebar-item">
    <a href="{% url 'commandnote:dashboard' %}">
      <span class="sidebar-label p-2">CommandNote作成</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="{% url 'commandnote:index' %}">
      <span class="sidebar-label p-2">CommandNote一覧</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="{% url 'errornote:create' %}">
      <span class="sidebar-label p-2">ErrorNote作成</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="{% url 'errornote:index' %}">
      <span class="sidebar-label p-2">ErrorNote一覧</span>
    </a>
  </li>
  <li class="sidebar-item">
    <span class="sidebar-label p-2">比較NOTE</span>
  </li>
</ul>